*{
    box-sizing: border-box;
}

@font-face{
    font-family: 'DroidSans';
    src: url("fonts/DroidSans.ttf");
}
@font-face{
    font-family: 'RBCR';
    src: url("fonts/RobotoCondensed-Regular.ttf");
}
@font-face{
    font-family: 'RBCRB';
    src: url("fonts/RobotoCondensed-Bold.ttf");
}
/* Styling Hintergrund, Schriftart */
body{
    background: rgba(102, 102, 102, 0.2);
    background-attachment: fixed;
    color: #000000;
    font-family: 'RBCR','DroidSans', 'RBCRB';
    line-height: 1.5;
    padding: 0;
    margin: 0;
}
/* Styling Formular Container*/
.container

/* Styling Kopfleiste*/

.kopfzeile{
    background: linear-gradient(90deg, rgb(102,102,102) 75%, #f5a748 100%);
    color: #fff;
    padding: 1em;
}

.kopfzeile #title{
    margin-left: 20px;
    font-size: 250%;
}

.kopfzeile ul{
    padding: 0;
    margin-top: 40px;
}
.kopfzeile li{
    list-style: none;
    padding: 0;
    display: inline;
}

.kopfzeile .alertbox{
    align-self: center;
}

#userpic {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: 40px;
    border-radius: 20px;
    margin-bottom: 0;
    vertical-align: middle;
}

#title #updown{
    color: #0672ce;
    display: inline-block;
    font-family: 'RBCRB';
    transform: scale(1, -1);
}

.kopfzeile{
    grid-template-columns: 1fr 1fr;
}

.kopfzeile button , #btSearch{
    border: none;
    padding: 10px;
    color: white;
    background: none;
    height: 45px;
    width: auto;
    font-size: 15px;
    border-radius: 2px;
}

.kopfzeile #username{
    font-family: 'RBCR';
}

.kopfzeile #libutton{
    font-size: 18px;
}

.home{
    display: none;
}

.navileiste{
    background-color: rgb(102, 102, 102);
    background-size: 100%;
    min-height: 100vh;
}

.navileiste button{
    font-size: 18px;
    width: auto;
    height: 65px;
    border-radius: 2px;
    background-color: rgb(102, 102, 102);
    color: #fff;
    text-align: left;
}

.navileiste button:hover .fa, .navileiste button:focus .fa{
    color: #fff;
}

.navileiste button:hover{
    color: rgb(102, 102, 102);
}

.navileiste ul{
    list-style: none;
}

/* Styling Kopfzeile des Formulars*/

.page > *{
    padding: 1em;
}

/*Styling des Formulars*/

.forms{
    background: none;
}

.forms form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.forms form label{
    display: block;
}

.forms form p{
    margin:0;
}
.forms form .full{
    grid-column: 1 / 3;
}

.forms form h4{
    margin-bottom: 0;
}

.forms form button, .forms form .big, .forms .big{
    width: 80%;
    padding: 1em;
    border: 1px solid #f5a748;    
    border-radius: 4px;
}

.forms form button{
    width: 90%
}

.forms form .full button {
    border: none;
}

.error{
    background: #f5a748;
    color: white;
}

button{
    background: #589ce9;
    border: 0;
    text-transform: uppercase;
}

button:hover, button:focus, .datenbank #btSearch:hover{
    background: #f5a748;
    color: #fff;
    outline: 0;
    transition: background-color 0.25s ease-out;
}

.fuehrerschein #yesbutton:hover{
    background: #17a345;
    transition: background-color 0.25s ease-out;
}

.fuehrerschein #nobutton:hover{
    background: rgb(253, 56, 56);
    transition: background-color 0.25s ease-out;
}

.fuehrerschein #license-search:focus{
    background-color: rgb(102, 102, 102);
}

.datenbank #keyinsert{
    width: 48%;
}

.datenbank #btSearch{
    background-color: #589ce9;
}
.caralert, .workeralert{
    text-align: center;
    padding: 10px;
    background: #17a345;
    color: white;
    margin-bottom: 10px;
    display: none
}

.useralert{
    text-align: center;
    padding: 10px;
    background: #f5a748;
    color: white;
    display: none;
    font-size: 25px;
}

.licensealert{
    text-align: center;
    padding: 10px;
    background: #17a345;
    color: white;
    display: none;
}

.foralert{
    text-align: center;
    padding: 10px;
    background: #17a345;
    color: white;
    display: none;
}

.denialalert{
    text-align: center;
    padding: 10px;
    background: rgb(253, 56, 56);
    color: white;
    display: none;
}

.nothingleftalert{
    text-align: center;
    padding: 10px;
    background: #f5a748;
    color: white;
    display: none;
}

.mitarbeiter-deletealert ,.fahrzeug-deletealert{
    text-align: center;
    padding: 10px;
    background: rgb(253, 56, 56);
    color: white;
    display: none;
}

.mitarbeiter-changealert ,.fahrzeug-changealert{
    text-align: center;
    padding: 10px;
    background: #17a345;
    color: white;
    display: none;
}

.fuehrerschein .license-box ul{
    list-style: none;
    display:inline;
    justify-self: stretch;
}

.fuehrerschein .license-box{
    display: grid;
    grid-template-columns: 30% 10% 60%;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    height: auto;
}


.fuehrerschein button{
    color: white;
    height: 50px;
    width: 150px;
    margin: 7.5px;
    float: left;
    border-radius: 4px;
    font-size: 14px;
}

.fuehrerschein #license-search{
    float: none;
    text-align: center;
    height: 70px;
    width:300px;
    margin: 20px auto 0 auto;
    font-size: 16px;
    justify-content: center;
    padding: 10px;
}

.fuehrerschein #yesbutton{
    background: rgba(23, 163, 69, 0.6);
}

.fuehrerschein #nobutton{
    background: rgba(253, 56, 56, 0.6);
}

.navileiste i{
    color: #f5a748;
}

@media(min-width: 700px){
    .content{
        display: grid;
        grid-template-columns: 22% 78%;
    }

    .page > *{
        padding: 2em;
    }

    .info{
        min-height: 400px;
    }

    .info h3, .info ul, .kopfzeile{
        text-align: left;
    }

    .kopfzeile{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .kopfzeile #title{
        grid-column-start: 2;
        text-align: center;
    }

    .kopfzeile ul{
        float: right;
        grid-column-start: 3;
    }
}

@media(min-width: 1500px){
    .navileiste button{
        width: 250px;
    }
}

table#Employee-Car {
    border-collapse: separate;
    width: 80%;
    padding: auto;
    margin: 10px;
    border-spacing: 0;
    background-color: #cbddee;
}

table#Employee-Car td, table#Employee-Car th { 
    padding: 5px 12px;
}

th {
    height: 30px;
    text-align: left;
    background-color: #f5a748;
    border: solid 1px #f5a748;
}

td {
    background-color: #eee;
    border: solid 1px #eee;
}

table#Employee-Car th:first-child {
    border-radius: 4px 0 0 0;
}

table#Employee-Car th:last-child {
    border-radius: 0 4px 0 0;
}

table#Employee-Car tbody tr:last-child td:first-child {
    border-radius: 0 0 0 4px;
}
table#Employee-Car tbody tr:last-child td:last-child {
    border-radius: 0 0 4px 0;
}

.home button:hover {
    color: #0672ce;
}

  button.link {
    background:none;
    border:none; 
    text-transform: none;
}
